.main-box{
    width: 100%;
    height: 100%;
    color: #333;
    .header-wrap{
        position: fixed;
        top: 0;
        left: 0;
        z-index:99;
        height: 60px;
        width: 100%;
        // min-width: 1204px;
        background: #545c64;
        .company{
            float:left;
            margin-right:30px;
            width:160px;
            line-height:60px;
            font-size:18px;
            text-align:center;
            color:#fff;
        }
        .user{
            position: absolute;
            right:50px;
            line-height:60px;
        }
    }
    .left-menu-wrap{
        position:fixed;
        left:0;
        top:60px;
        z-index:999;
        height: 100%;
        background: #545c64;
        overflow-x:hidden;
        overflow-y:auto;
        // -ms-overflow-style:none;
        // overflow:-moz-scrollbars-none;
        .left-menu{
        }
    }
    .left-menu-wrap::-webkit-scrollbar {
        // display: none;
    }
    .left-menu-wrap::-moz-scrollbar {
        // display: none;
    }
    .content-wrap{
        padding:90px 30px 30px;

    }
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 160px;

}
.el-menu{
    border:0;
}