.main-box{
    width: 100%;
    height: 100%;
    color: #333;
    .header-wrap{
        position: fixed;
        top: 0;
        left: 0;
        z-index:99;
        height: 80px;
        width: 100%;
        // min-width: 1204px;
        background: #fff;
      .logo{
        float: left;
        background-color: #4588e6;
        width: 15rem;
        height: 100px;
        img{
          display: inline-block;
          margin: 20px 0 0 35px;
        }
      }
        .company{
            float:left;
            margin-left:20px;
            //width:1.6rem;
            line-height:80px;
            font-size:20px;
            text-align:center;
            color:#4588e6;
        }
        .user{
            position: absolute;
            right:50px;
            line-height:80px;
        }
    }
    .left-menu-wrap{
        position:fixed;
        left:0;
        top:100px;
        z-index:999;
        height: 100%;
        //width: 15rem;
        background: #4588e6;
        overflow-x:hidden;
        overflow-y:auto;
        .left-menu{
        }
      .arrow{
        border-top: 1px solid #4577d7;
        border-bottom: 1px solid #4577d7;
        .arrow1{
          width: 15rem;
          height:18px;
          border-top: 1px solid #459af4;
          border-bottom: 1px solid #459af4;
          background-color: #4588e6;
          //margin: 0;
          .movement_image{
            position: relative;
            left: 50%;
            top: 4px;
            width: 5rem;
            margin: 0;
          }
          .movement img{
            animation: movement 1s infinite;
          }
          @keyframes movement{
            from{transform:translate(0,0)}
            to{transform:translate(-10px,0)}
          }
        }
      }

    }
    .left-menu-wrap::-webkit-scrollbar {
        // display: none;
    }
    .left-menu-wrap::-moz-scrollbar {
        // display: none;
    }
  .content-wrap{
    margin:110px 20px 10px 200px;
    padding:40px 30px 70px;
    background-color: #fff;
  }
  .marginTop{
    width: 100%;
    height: 30px;
    background-color: #eee;
    position: fixed;
  }
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 160px;

}
.el-menu{
    border:0;
}
