.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 160px;
}
.el-menu{
    border:0;
}
.left-menu1{
  width: 180px;
}
.left-menu1 .el-menu-item.is-active {
  background-color: #95c7ff !important;
}



