.order-record-box{
    .top-box{
        padding:20px 0;
    }
    .store-record-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
        .store-record-item{
            margin-bottom:1.2rem ;
            padding:1rem;
            width:47%;
            border:1px solid #d2d2d2;
            box-sizing: border-box;
            border-radius:5px;
            div{
                margin-bottom:5px;
            }
        }
        .store-record-item:hover{
            border:1px solid #409EFF;
        }
    }
}
