.statistics-page{
    //padding-top:120px;
    .top-box{
        //position: fixed;
        //padding-top:90px;
        //top:0;
        //z-index:9;
        width:100%;
        background:#fff;
      padding: 2rem;
    }
    .charts-type{
        margin:0 auto;
        overflow:hidden;
        .charts-wrap{
            margin: 15px 0;
            height: 260px;
        }
    }
  .charts-top{
    display: flex;
    flex-wrap: wrap;
    .charts-wrap{
      margin: 10px 10px 0 0;
      overflow: hidden;
    }
  }
  .charts-bottom{
    display: flex;
    flex-wrap: wrap;
    .charts-wrap{
      width: 47rem;
      height: 25rem;
      overflow: hidden;
      margin: 10px 10px 0 0;
      background: #fff;
    }
  }
    .noData{
        text-align:center;
        color:#999;
    }
}
button{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
h4{
  border-bottom:1px solid #ededed;
  height: 39px;
  line-height: 39px;
  text-align: center;
  margin: 10px;
  font-size: 14px;
  color: #2a2a2a;
}
