.statistics-page{
    //padding-top:120px;
    .top-box{
        //position: fixed;
        //padding-top:90px;
        //top:0;
        //z-index:9;
        width:100%;
        background:#fff;
      padding: 2rem;
    }
    .charts-type{
        margin:0 auto;
        overflow:hidden;
        .charts-wrap{
            margin: 15px 0;
            height: 260px;
        }
    }
  .charts-top{
    display: flex;
    flex-wrap: wrap;
    .charts-wrap{
      margin: 10px 10px 0 0;
      overflow: hidden;
    }
  }
  .charts-bottom{
    display: flex;
    flex-wrap: wrap;
    .charts-wrap{
      overflow: hidden;
      width: 49%;
      margin: 10px 10px 0 0;
    }
  }
    .noData{
        text-align:center;
        color:#999;
    }
}
