
.guest-list-page{
  .ui-tab{
    //position: absolute;
    //margin: 7rem 0 0 5rem;
    //padding-right: 3rem;
    border-bottom: 1px solid #c8c8c8;
  }
  .circleFont2{
    margin:0 3rem;
  }
  .circles,.circlesR{
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
  }
  .circles{
    position: relative;
    //left: 6rem;
    top: 5rem;
    border:1px solid #fafafa;
    background-color: rgb(17,159,255);
    z-index: 99;
  }
  .circlesR{
    position: relative;
    left: 6rem;
    top: -12rem;
    border:1px solid #aaa;
    background-color: #fff;
  }
  .circleFont{
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #469fff;
  }
  .get_a{
    /*border:1px solid black;*/
    margin-top: 5rem;
  }
  .showImg{
    display: flex;
    align-items: center;
    width: 30rem;
    height: 30rem;
  }
  .moneyL{
    display: flex;
    justify-content: space-between;
    width: 25rem;
    text-align: center;
    float: right;
    margin-right: 5rem;
  }
  .lastNum{
    display: inline-block;
    border:1px solid #bababa;
    width: 3rem;
    height: 1.5rem;
  }
  .lastNums{
    display: inline-block;
    border:1px solid #bababa;
    width: 8rem;
    height: 1.5rem;
  }
  .upload-demo{
    margin-left: 2rem;
  }
  .getTop_image{
    width: 10rem;
    height: 10rem;
  }
  .el-icon-plus{
    font-size: 5rem;
  }
  .disabled{
    background-color: #ddd;
    border-color: #ddd;
    color:#57a3f3;
    cursor: not-allowed; // 鼠标变化
  }
}
