.guest-list-page{
  .top-box{
    overflow: hidden;
    background: #fff;
    padding: 2rem 0;
    margin-bottom: 10px;
  }
  .movement{
    width: 10.5rem;
    height: 2rem;
  }
  .movement_image{
    position: relative;
    left: 40%;
    width: 5rem;
    height: 5rem;
  }
.movement img{
  animation: movement 1s infinite;
}
  @keyframes movement{
    from{transform:translate(0,0)}
    to{transform:translate(0,10px)}
  }
  .el-form-item__label{
    font-size: 13px;
    color: #999;
  }
  .table thead{
    color: #999;
  }
  .table tbody tr td{
    color: #2a2a2a;
    font-size: 1rem;
    vertical-align: middle;
  }
  .table tbody tr:hover{
    background-color: #f5fbfe;
  }
  .inpFace{
    -webkit-appearance:none;
  }
  .margin{
    display:inline-block;
    margin:0 5px;
  }
  .line{
    text-align:center;
  }
  .totalAll{
    overflow:hidden;
    P{
      float:right;
      font-weight:700;
      .totalNumber, .totalPrice{
        padding:0;
        margin:0 3px;
        width:100px;
        height:40px;
        //border-radius: 3px;
        border:0;
        background: #eee;
        border: 1px solid #999;
        text-align:center;
      }
    }
  }
  .addproduct{
    overflow:hidden;
    div{
      float:right;
    }
  }
  .deleproduct{
    margin-left:20px;
  }
  .editImg{
    width: 150px;
    height:150px;
    //border-radius:3px;
    display: inline-block;
    border: 1px solid #eee;
    padding: 15px;
    box-sizing:border-box;
    margin-right: 15px;
    overflow: hidden;
  }

  .el-pagination{
    margin:10px;
    float: right;
  }
  .numberPrice{
    border: 1px solid #e4e7ed;
    height: 3.5rem;
    width: 8rem;
    background-color: #f5f7fa;
    //border-radius:3px;
    text-align: center;
    color:#606266;
    line-height:3rem;
  }
  .el-dialog__body{
    height:400px;
  }
  .imgView{
      width: 90%;
      img{
          width: 100%;
      }
  }
}

button{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.el-input__inner{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
