
.guest-list-page{
  background: #fff;
  padding: 2rem;
  .circleFont{
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #469fff;
  }
  .circles,.circlesR{
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
  }
  .circles{
    position: relative;
    //left: 6rem;
    top: 5.6rem;
    border:1px solid #fafafa;
    background-color: rgb(17,159,255);
    z-index: 99;
  }
  .circleFont{
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  .get_a{
    margin: 5rem auto;
  }
  .showImg{
    display: flex;
    align-items: center;
    width: 30rem;
    height: 30rem;
  }
  .moneyL{
    display: flex;
    justify-content: space-between;
    //width: 15rem;
    text-align: center;
    float: left;
    margin:0 0 3rem 5rem;
    line-height: 3rem;
  }
  .lastNum{
    display: inline-block;
    width: 10rem;
    height: 3rem;
    margin: 0 1rem;
    text-align: center;
    border: 0;
    background: 0;
    color: #f4aa8d;
    font-size: 2.4rem;
  }
  .upload-demo{
    margin-left: 2rem;
  }
  .getTop_image{
    width: 10rem;
    height: 10rem;
  }
  .el-icon-plus{
    font-size: 5rem;
  }
  .orderVideo{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .name{
    width: 60px;
    line-height: 40px;
  }
  .el_col{
    display: flex;
    margin-right: 1.5rem;
  }
  .el_row{
    text-align: center;
    margin:2% 6%;
  }
  .el-pagination{
    margin: 1rem;
    float: right;
  }
  .inputStyle{
    width: 11.5rem;
    height: 3rem;
    border: 0;
    border: 1px solid #dcdfe6;
    display: inline-block;
    padding: 0 3rem 0 1.5rem;
  }
  .inputStyle:focus-within{
    //border: 0;
    outline: 0;
  }
}
button{
  width: 6rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.el-input__inner{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"]{-moz-appearance:textfield;}
